
certifi
charset-normalizer
click
colorama
dj-database-url
Django
django-bootstrap-datepicker-plus
django-bootstrap4
django-crispy-forms
django-heroku
djlint==0.7.6
et-xmlfile==1.1.0

greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata
itsdangerous==2.1.2
Mako==1.2.0
MouseInfo==0.1.3
mypy
mypy-extensions

openpyxl

python-dateutil
pytweening
pytz
PyYAML
regex
requests
six
soupsieve
sqlparse
toml
tomli
tomlkit
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
whitenoise
xlrd
zipp
