
certifi
charset-normalizer
click
colorama
dj-database-url
Django
django-bootstrap-datepicker-plus
django-bootstrap4
django-crispy-forms
django-heroku
djlint==0.7.6
et-xmlfile==1.1.0

gunicorn==20.1.0
openpyxl

python-dateutil
pytweening
pytz
PyYAML
regex
requests
six
soupsieve
sqlparse
toml
tomli
tomlkit
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
whitenoise
xlrd
zipp
