.pol {
    /* background-image: url('./tech2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgb(4, 4, 27), rgb(102, 102, 146)); */
    background-color: transparent;
}


.body {
    background-image: linear-gradient(to right, rgb(2, 2, 19), rgb(36, 36, 58));
    color: white;
    text-align: center;
}

.padding_y_10{
    padding-top: 10%;
    padding-bottom: 10%;
}

.homeMessage{
    
}

.port_image{
    border-radius: 5%;
    border: 3px solid rgb(53, 26, 7);
}