<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'p1/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4855803939786143"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body class="body">
    <div class="main">
        <div class="container my-5 py-5">
            <div class="row align-items-center justify-content-center pol  homeMessage padding_y_10">
                <div class="col-sm- text-white">
                    <h1 class="text-capitalize">&lt;Hi i'm Yaw Otuo&gt;</h1>
                    <p>&lt;I'm a full stack web developer&gt;</p>

                </div>
                <!-- <div class="col-lg-6 w-100">
                    <!-- <img src="{% static 'selfie1.jfif' %}" class="clipimage img-responsive "> -->
            </div>
        </div>
        <div class="row align-items-center justify-content-center my-5 py-5">
            <div class="col-lg-12">
                <h1>Portfolio</h1>
                <div class="container">
                    <div class="row mt-5 pt-5 ">
                        <div class="col-sm-3">
                            African Bully Registry
                            <div class="my-5">
                                <img src="{% static 'p1/cart.jfif' %}" class="port_image img-responsive ">

                            </div>

                        </div>
                        <div class="col-sm-3 ">
                            Movie Watch
                            <div  class="my-5">
                                <img src="{% static 'p1/cart.jfif' %}" class="port_image img-responsive ">

                            </div>
                        </div>
                        <div class="col-sm-3">
                            Movie Watch
                            <div  class="my-5">
                                <img src="{% static 'p1/cart.jfif' %}" class="port_image img-responsive ">

                            </div>
                        </div>
                        <div class="col-sm-3">
                            African Bully Registry
                            <div  class="my-5">
                                <img src="{% static 'p1/cart.jfif' %}" class="port_image img-responsive ">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center my-5 py-5">
            <div class="col-lg-12">
                <h1>About</h1>
                <div class="container">
                    <div class="row my-5 py-5">
                        <div class="col-sm-12">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam temporibus, exercitationem
                            minus iusto quod soluta excepturi eveniet debitis maiores nostrum sint aliquid. Quibusdam,
                            alias? Laudantium praesentium ad eos sequi iste!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center my-5 py-5">
            <div class="col-lg-12">
                <h1>Contact</h1>
                <div class="container">
                    <div class="row my-5 py-5">
                        <div class="col-sm-12">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam temporibus, exercitationem
                            minus iusto quod soluta excepturi eveniet debitis maiores nostrum sint aliquid. Quibusdam,
                            alias? Laudantium praesentium ad eos sequi iste!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>