<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'p1/index.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4855803939786143"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <title>Portfolio: YawOtuo</title>
</head>

<body class="body container">
    <div class="main">
        <div class="container my-5">
            <div class="row align-items-center justify-content-center pol  homeMessage view_height_100 ">
                <div class="col-sm- text-white ">
                    <h1 class="text-capitalize">&lt;Hi, i'm <b> Yaw Otuo</b>&gt;</h1>
                    <p class="text-capitalize text-info">&lt;I'm a passionate full stack web developer&gt;</p>
                    <!-- <p class="text-capitalize text-small text-info">&lt;I'm also a upcoming machine learning engineer&gt;</p> -->


                </div>
                <!-- <div class="col-lg-6 w-100">
                    <!-- <img src="{% static 'selfie1.jfif' %}" class="clipimage img-responsive "> -->
            </div>
        </div>
        <div class="row align-items-center justify-content-center my-5 py-5">
            <div class="col-lg-12">
                <h1>My Projects</h1>
                <div class="container">
                    <div class="row mt-5 pt-5 ">
                        <div class="col-sm-4">
                            <a href="https://afbr-80930.web.app/" target="_blank" class="project_link">
                            African Bully Registry
                            <div class="my-5">

                                <img src="{% static 'p1/afbr2.png' %}" class="p-3 port_image img-responsive img-fluid ">
                            
                            </div>
                        </a>
                        </div>
                        <div class="col-sm-4 ">
                            <a href="http://clipmasksterl.herokuapp.com/" target="_blank" class="project_link">
                            Clipmask
                            <div class="my-5">
                                <img src="{% static 'p1/hung1.png' %}" class=" port_image img-responsive img-fluid">
                            </div>
                            </a>
                            
                        </div>
                        <div class="col-sm-4">
                            <a href="https://github.com/YawOtuo/movieWatch" target="_blank" class="project_link">
                            MovieWatch
                            <div class="my-5">
                                <img src="{% static 'p1/mw1.png' %}" class=" port_image img-responsive img-fluid">

                            </div>
                            </a>
                        </div>
                    </div>
                       <div class='row align-items-center justify-content-around py-5 my-5'>
                            <div class="col-sm-4 ">
                                <a href="https://github.com/YawOtuo/pdf-deeplogic" target="_blank" class="project_link" >
                               Image to Text Converter
                                <div class="my-5">
                                    <img src="{% static 'p1/ocr2.jfif' %}" class="port_image  img-responsive img-fluid"
                                    >
    
                                </div>
                                </a>
                            </div>
                            <div class="col-sm-4 ">
                                <a href="https://opus-digilabs.web.app/" target="_blank" class="project_link" >
                               OPUS
                                <div class="my-5">
                                    <img src="{% static 'p1/opus.png' %}" class="port_image  img-responsive img-fluid"
                                    height='60'
                                    width='60px'>
    
                                </div>
                                </a>
                            </div>
                       </div>
                        
                 
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center my-5 py-5">
            <div class="col-lg-12">
                <h1>About Me</h1>
                <div class="container">
                    <div class="row my-5 pb-5 px-5">
                        <div class="col-sm-12" style="line-height: 2.0">
                            <p>Tech-savvy Full Stack Web Developer proficient in fundamental front-end languages and
                                server-side languages. In-depth knowledge of React, Django, Nodejs, Flask. Analytical
                                and precise professional with 2 years of hands-on experience taking charge of front and
                                back-end web development.
                            </p>
                            <p>
                                Skillful creating servers and databases for functionality and designing and developing
                                APIs.
                                Hardworking collaborator with track record of superior results. Passionate developer and
                                Artificial Intelligence Enthusiast.
                            </p>
                            <div class="mt-5 pt-5">
                                <p class="mt-5 pt-5"><img src="{% static 'p1/educ1.png' %}" width="3%" height=""
                                        class="educ_image img-responsive img-fluid" alt="">
                                    EDUCATION: <b>Kwame Nkrumah University of Science And Technology </b>
                                    <small>2021 - 2025</small><small>&nbsp;BsC Computer Engineering</small>
                                </p>
                                <p><img src="{% static 'p1/exp4.png' %}" width="3%" height=""
                                        class="educ_image  img-responsive img-fluid" alt="">
                                    EXPERIENCE: <b>African Bully Registry</b>
                                    <small>2021 - Present</small><small>&nbsp;Senior Full Stack Engineer</small>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center my-5 ">
            <div class="col-lg-12">
                <h1>Contact Me</h1>
                <div class="container">
                    <div class="row my-5">
                        <div class="col-sm-12">
                            <a href="#" target="_blank" class="fa fa-facebook"></a>
                            <a href="#"target="_blank" class="fa fa-twitter"></a>
                            <a href="#" target="_blank" class="fa fa-instagram"></a>
                            <a href="https://www.linkedin.com/in/yaw-otuo-30383b102" target="_blank" class="fa fa-linkedin"></a>
                            <a href="mailto:yotuo2003@gmail.com" class="fa fa-envelope"></a>
                            
                            <a href="#"target="_blank" class="fa fa-phone">+233203775123</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>